<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/about.css">
    <title>Evade-about</title>
    <link rel="icon" href="../static/images/evadelogo.png" type="image/icon type">
</head>
<body>  
    <div class="nav"> 
        <img class="logo" src="../static/images/evadelogo.png">
        <p class="headname" onclick="window.location.href='/'" style="cursor: pointer;">Evade</p>
    </div>
    <div class="about">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius ipsa suscipit molestias tempore sint at ratione nostrum assumenda, odit, voluptas vero quo doloribus totam! Necessitatibus illo sint sed in?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eius ipsa suscipit molestias tempore sint at ratione nostrum assumenda, odit, voluptas vero quo doloribus totam! Necessitatibus illo sint sed in?</p>
    </div>
    <div class="members">
        <p class="team"><u>Our Team</u></p>
        <div class="flexs">
            <div class="card">
                <img src="../static/images/team3.jfif" alt="Avatar" class="tpic">
                <div class="container">
                  <h3 class="name"><b>Aakash Srivastava</b></h3>
                  <div class="contact">
                    <a href="https://www.instagram.com/aakzsh/" target="_blank"><img src="../static/images/instagram.png" alt="" width="25" height="25" class="photo"></a>
                    <a href="https://github.com/aakzsh" target="_blank"><img src="../static/images/2.png" alt="" width="25" height="25" class="photo"></a>
                    <a href="https://www.linkedin.com/in/aakzsh" target="_blank"><img src="../static/images/download.png" alt="" width="25" height="25" class="photo"></a>
                    <a href="https://twitter.com/aakzsh" target="_blank"><img src="../static/images/twitter.png" alt="" width="25" height="25" class="photo"></a>
                  </div>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/team2.jfif" alt="Avatar" class="tpic">
                <div class="container">
                  <h3 class="name" ><b>Karan Pandey</b></h3>
                  <div class="contact">
                    <a href="https://www.instagram.com/kaps2002/" target="_blank"><img src="../static/images/instagram.png" alt="" width="25" height="25" class="photo"></a>
                    <a href="https://github.com/kaps2002" target="_blank"><img src="../static/images/2.png" alt="" width="25" height="25" class="photo"></a>
                    <a href="www.linkedin.com/in/karan-pandey-b59a56215" target="_blank"><img src="../static/images/download.png" alt="" width="25" height="25" class="photo"></a>
                    <a href="https://twitter.com/kaps201202" target="_blank"><img src="../static/images/twitter.png" alt="" width="25" height="25" class="photo"></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <img class="bl" src="../static/images/bl.png" alt="" srcset="">
    <img class="tr" src="../static/images/tr.png" alt="" srcset="">
</body>
</html>