<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="know if you're vulnerable to cell towers health hazards and learn about preventive measures">
    <meta name="keywords" content="HTML, CSS, Flask">
    <meta name="author" content="aakzsh, karan pandey">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Evade</title>
    <link rel="icon" href="../static/images/evadelogo.png" type="image/icon type">
</head>
<body>
    <div class="nav" > 
        <img class="logo" src="../static/images/evadelogo.png">
        <p class="headname" onclick="window.location.href='/'" style="cursor: pointer;">Evade</p>
    </div>
    <div>
        <h2 class="capital">
            CELL TOWERS CAN BE <br>
            <b class="hazard">HAZARDOUS</b> FOR HEALTH
        </h2>
        <p class="risk">know your risk level and take precautions</p>
    </div >
 
    <div class="btncont">
        <button onclick="window.location.href='/red'" style="color: white; background-color: #5E17EB; width: 10rem; height: 3rem; border-radius: 10px; border: #5E17EB; ">Get Started</button>
        <button onclick="window.location.href='/about'" style="color: white; background-color: #5E17EB; width: 10rem; height: 3rem; border-radius: 10px; border: #5E17EB; ">About</button>

    </div>
    
    <div class="curve">
        <img class="curveimg" src="../static/images/homecurve.png" alt="" srcset="">
    </div>
</body>
</html>