<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Evade</title>
    <link rel="icon" href="../static/images/evadelogo.png" type="image/icon type">
</head>
<body>
    <div class="nav"> 
        <img class="logo" src="../static/images/evadelogo.png">
        <p class="headname" onclick="window.location.href='/'" style="cursor: pointer;">Evade</p>
        <a href="/about" style="text-decoration: none;">About Us</a>
    </div>
    <div>
        <h2 class="capital">
            CELL TOWERS CAN BE <br>
            <b class="hazard">HAZARDOUS</b> FOR HEALTH
        </h2>
        <p class="risk">know your risk level and take precautions</p>
    </div>
    <div>
        <button onclick="window.location.href='/start'" style="cursor: pointer;">Get started</button>
    </div>
    
    <div class="curve">
        <img class="curveimg" src="../static/images/homecurve.png" alt="" srcset="">
    </div>
</body>
</html>