<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/measures.css">
    <link rel="stylesheet" href="../static/styles/common.css">
    <title>evade-measures</title>
    <link rel="icon" href="../static/images/evadelogo.png" type="image/icon"/>
</head>
<body>
    <div class="nav"> 
        <img class="logo" src="../static/images/evadelogo.png">
        <p class="headname" onclick="window.location.href='/'" style="cursor: pointer;">Evade</p>
    </div>
    <img class="bl" src="../static/images/bl.png" alt="" srcset="">
    <img class="tr" src="../static/images/tr.png" alt="" srcset="">

    <center><div class="content">
        <h1>PREVENTIVE MEASURES</h1>
        <p class="hehe">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis finibus felis, quis iaculis sem dictum quis. Integer imperdiet mauris velit, et dictum neque congue eu. Pellentesque dictum ligula erat, at facilisis lorem placerat a. Vivamus consectetur molestie urna id venenatis. Nullam aliquam congue sapien in ornare. Pellentesque fringilla dolor eu lorem sodales, ac gravida neque malesuada. Suspendisse potenti.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis finibus felis, quis iaculis sem dictum quis. Integer imperdiet mauris velit, et dictum neque congue eu. Pellentesque dictum ligula erat, at facilisis lorem placerat a. Vivamus consectetur molestie urna id venenatis. Nullam aliquam congue sapien in ornare. Pellentesque fringilla dolor eu lorem sodales, ac gravida neque malesuada. Suspendisse potenti.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis finibus felis, quis iaculis sem dictum quis. Integer imperdiet mauris velit, et dictum neque congue eu. Pellentesque dictum ligula erat, at facilisis lorem placerat a. Vivamus consectetur molestie urna id venenatis. Nullam aliquam congue sapien in ornare. Pellentesque fringilla dolor eu lorem sodales, ac gravida neque malesuada. Suspendisse potenti.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis finibus felis, quis iaculis sem dictum quis. Integer imperdiet mauris velit, et dictum neque congue eu. Pellentesque dictum ligula erat, at facilisis lorem placerat a. Vivamus consectetur molestie urna id venenatis. Nullam aliquam congue sapien in ornare. Pellentesque fringilla dolor eu lorem sodales, ac gravida neque malesuada. Suspendisse potenti.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis finibus felis, quis iaculis sem dictum quis. Integer imperdiet mauris velit, et dictum neque congue eu. Pellentesque dictum ligula erat, at facilisis lorem placerat a. Vivamus consectetur molestie urna id venenatis. Nullam aliquam congue sapien in ornare. Pellentesque fringilla dolor eu lorem sodales, ac gravida neque malesuada. Suspendisse potenti.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis finibus felis, quis iaculis sem dictum quis. Integer imperdiet mauris velit, et dictum neque congue eu. Pellentesque dictum ligula erat, at facilisis lorem placerat a. Vivamus consectetur molestie urna id venenatis. Nullam aliquam congue sapien in ornare. Pellentesque fringilla dolor eu lorem sodales, ac gravida neque malesuada. Suspendisse potenti.
            
        </p>
    </div></center>
</body>
</html>