<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/measures.css">
    <link rel="stylesheet" href="../static/styles/common.css">
    <title>evade-measures</title>
    <link rel="icon" href="../static/images/evadelogo.png" type="image/icon"/>
</head>
<body>
    <div class="nav"> 
        <img class="logo" src="../static/images/evadelogo.png">
        <p class="headname" onclick="window.location.href='/'" style="cursor: pointer;">Evade</p>
    </div>
    <img class="bl" src="../static/images/bl.png" alt="" srcset="">
    <img class="tr" src="../static/images/tr.png" alt="" srcset="">

    <center><div class="content">
        <h1>PREVENTIVE MEASURES</h1>
        <p class="hehe">
            There are few measures you can use to prevent yourself from the hazards of cell phone towers. Some of them are <br><br>
• Apply EMF (Electromagnetic fields) protective paint on towers <br><br>
• Use protective fabric <br><br>
• Ensure that you live atleast 25 metres away from a tower, a distance more than 50 metres is very good. <br><br>
• Check radiation levels at your home and take steps accordingly 


        </p>
    </div></center>
</body>
</html>