.nav{
    display: flex;
}
.curveimg{
    float: right;
    height: 100vh;
    /* width: 2rem; */
    position: fixed;
    top: 0;
    right: 0;
}
.logo{
    height: 80px;
    width: 80px;
    margin-top: 5px;
    margin-left: 8px;
}
.headname{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    color: #5E17EB;
    margin-left: 5px;
    margin-top: 40px;
}
.started{
    font-size: 100px;
    font-family: 'Oswald',sans-serif;
    align-content: center;
    margin-top: 30px;
    margin-left: 30%;
    color: #5E17EB;
    font-weight: bolder;
}
.location{
    word-spacing: 20px;
    margin-left: 40%;
    margin-top:-50px;
}
input{
    height: 30px;
    width:180px;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}
button{
    background-color: #5E17EB;
color: aliceblue;
    /* height: 26px; */
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}
.or{
    font-size: 40px;
    margin-left: 100px;
    color: #5E17EB;
    font-weight: bolder;
}
.gps{
    margin-top: 2px;
    color: aliceblue;
    background: #5E17EB;
    height: 50px;
    width:120px;
    font-size: 20px;
    margin-left: 60px;
}
.bl{
height: 40vh;
position: absolute;
bottom: 0;
left: 0;
z-index: -1;
}

.tr{
    height: 40vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}