.nav{
    display: flex;
}
.logo{
    height: 80px;
    width: 80px;
    margin-top: 5px;
    margin-left: 8px;
}
.headname{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    color: #5E17EB;
    margin-left: 5px;
    margin-top: 40px;
}

.content{
    padding: 2rem;
    margin-top: -2rem;
    height: 70vh;
    width: 70vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    /* word-wrap:normal; */
    overflow: scroll;
    /* overflow: hidden; */
}
.content::-webkit-scrollbar {
    display: none;
  }
  
h1{
    color: #5E17EB;
    font-family:'Oswald', sans-serif ;
    font-size: 2rem;
}

.hehe{
    font-size: 1.5rem;
    color: #5E17EB;
    font-family:'Oswald', sans-serif ;
    text-align: justify;
    font-weight: 400;
    
}

@media screen and (max-width: 480px) {
    .hehe{
        font-size: 1.1rem;
        color: #5E17EB;
        font-family:'Oswald', sans-serif ;
        text-align: justify;
        font-weight: 400;
    }
}